*, *:after, *:before {box-sizing: border-box}

body{
	margin: 0;
	padding: 0;
}

header {
	width: 20%;
	height: 100%;
	background: #D89475;
	font-size: 3vh;
	color: #ffffff;
	float: left;
	padding: 2%;
}

header a:link, a:visited {
    display: block;
    font-weight: bold;
	font-size: 4vh;
    color: #ffffff;
    width: 100%;
    text-align: center;
    padding: 1%;
    text-decoration: none;
}

header a:hover, a:active {
    background-color: #AD6240;
}

nav {
	width: 80%;
	height: 15%;
	background: #AD6240;
	float: right;
}

nav a:link, a:visited {
	line-height: 6vh;
    display: block;
    font-weight: bold;
	font-size: 4vh;
    color: #ffffff;
    text-align: center;
    text-decoration: none;
}

nav a:hover, a:active {
    background-color: #582D19;
}

main {
	width: 80%;
	height: 85%;
	background: #FFE0D2;
	float: left;
}

footer {
	width: 80%;
	height: 10%;
	background: #FFF2EC;
	float: left;
}

.wrapper {
	height: 100vh;
	width: 100vw; 
}

ul {
	list-style: none;
	padding: 0;
}

header li {
    display: block;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
	padding: 3%;
}

nav li {
	float: left;
	display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
	width: 20%;
	padding-left: 5%;
	padding-top: 1%;
}

nav a {
	display: block;
}